h1{
    margin-left: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.outer-box{
    margin: auto;
    border-radius: 8%;
    width: 77%;
    background-color: rgba(120, 120, 120, 0.628);
}

.inner-box-upper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    margin: auto;
}

#thin-line{
    display: flex;
    border: 0.5px solid black;
    opacity: 40%;
}

.inner-box-lower{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.top-text{
    display: flex;
    justify-content: space-around;
}

#center{
    display: flex;
    justify-content: center;
}

#purchase{
    display: flex;
    justify-content: flex-end;
    padding: 2%;
}

#padded-button{
    padding: 2%;
    padding-left: 7%;
    padding-right: 7%;
    border-radius: 33%;
    background-image: url(../assets/background_texture.png);
    cursor: pointer;
}

#vert-line{
    display: flex;
    border: 0.5px solid black;
    height: 50px;
    opacity: 40%;
}