#gamebody{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 5px white; */
    margin: 10px;
    height: 70vh;
}
.gamecard{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color:rgb(79, 109, 126, 0.5);
    box-shadow: #08080b 0 10px 20px -10px;
    border: solid 2px black;
    border-radius: 10px;
    height: 50vh;
    width: 90vw;

}
.gamecover{
    /* border: solid 2px white; */
    border-radius: 15px;
    height: 40vh;
    width: 30vw;
    margin-top: 70px;
    margin-left: 50px;
}
.gamecover img{
    display: flex;
    box-shadow: #08080b 0 10px 20px -10px;
    height: 40vh;
    width: 30vw;
    border-radius: 15px;
}
.infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid 1px white; */
    margin-top: 70px;
    margin-right: 50px;
    height: 40vh;
    width: 50vw;
}
.info{
    display: flex;
    flex-direction: column;
    /* border: solid 1px white; */
    border-radius: 15px;
    color: rgb(7, 7, 7);
    height: 15vh;
    width: 40vw;
    margin-top: 10px;
}
.infoTag{
    display: flex;
    font-size: 10px;
}
.description{
    border: solid 2px black;
    border-radius: 15px;
    box-shadow: #08080b 0 10px 20px -10px;
    font-size: 20px;
    color: aliceblue;
    margin: 10px;
    height: 20vh;
    width: 45vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.addBasketBtn{
    background: #ffe600;
    border-radius: 10vw;
    box-shadow: #08080b 0 10px 20px -10px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    line-height: 34px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 5px 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: solid 1px black;
}
.buttonContainer{
    padding: 10px;
    font-size: 20px;
    /* border: solid 1px white; */
    display: flex;
    width: 45vw;
    margin-bottom: 10px;
    align-items: flex-end;
    justify-content: flex-end;
}