#gamebody{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
    height: 70vh;
}
.gamecard{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color:rgb(79, 109, 126, 0.5);
    box-shadow: 3px 3px black;
    border: solid 5px black;
    border-radius: 10px;
    height: 55vh;
    width: 90vw;
}
.gamecover{
    border-radius: 15px;
    height: 80%;
    width: auto;
    margin-top: 3.5vh;
    margin-left: 2vw;
}

.gamecover img{
    display: flex;
    height: 100%;
    width: auto;
    border-radius: 15px;
    border: #c7b300 thick solid;
    box-shadow: 3px 3px black;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.5vh;
    margin-right: 50px;
    height: auto;
    width: 80vw;
    margin-bottom: 6vh;
}

.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    color: rgb(7, 7, 7);
    height: 95%;
    width: 95%;
}

.infoTag{
    display: flex;
    font-size: 1.6vh;
    width: 90%;
    color:white;
}

#text{
    font-size: 4vh;
    text-shadow: 2px 2px black;
}

.description{
    border: #c7b300 thick solid;
    border-radius: 10px;
    box-shadow: 3px 3px black;
    color: aliceblue;
    min-height: 15vh;
    max-height: 15vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    padding: 0.8vh;
}

#summarytext {
    text-shadow: 2px 2px black;
    font-size: 2.5vh;
}

.addBasketBtn{
    background: #ffe600;
    border-radius: 10vw;
    box-shadow: 3px 3px black;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    line-height: 34px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 5px 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: solid 1px black;
    margin-top:3vh;
}

.buttonContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    height: 10%;
    width: 90%;
    margin-bottom: 10px;
}
