body{
  text-shadow: 2px 2px black;
  color: white;

}

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  width: 80vw;
  border: solid white 5px;
  background-color: rgba(78, 78, 78, 0.8);
  box-shadow: 3px 3px rgb(0, 0, 0);
  margin: 5vh 0 5vh 10vw;
  border-radius: 15px;

}

.detailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 20%;
  width: 95%;

}

.profile_label{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
  padding: 6%;
}

.imageContainer {
  display: flex;
  height: 21vh;
  
}

.imageContainer img {
  height: 20vh;
  width: auto;
  margin-top: 25px;
  border: #c7b300 thick solid;
  box-shadow: 3px 3px black;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vh;
  margin-top: 7vh;
  margin-left:1vw;
  height: 14vh;
  width: 15vw;
  background-color: rgba(58, 58, 58, 0.37);
  box-shadow: 3px 3px black;
  border: #c7b300 thick solid;
  border-radius: 10px;
}

.user_title {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_h1 {
  margin-top: 2vh;
}

.user_username {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderTitle{
  display: flex;
  justify-content: center;
  width: 78vw;
}

.orderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  width: 78vw;
  margin-top: 3vh;
  overflow: auto;
  overflow-x:hidden;
  background-color: rgba(58, 58, 58, 0.37);
  box-shadow: 3px 3px black;
  border: #c7b300 thick solid;
  border-radius: 10px;
}

.formsOuter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 28vh;
  width: 78vw;
  margin-bottom: 20px;
  background-color: rgba(58, 58, 58, 0.37);
  box-shadow: 3px 3px black;
  border: #c7b300 thick solid;
  border-radius: 10px;
}

.formMiddle {
  display: flex;
  margin-bottom: 10px;
}

.updateTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 5vh;
  width: 76vw;

}

.update_info{
  margin-left: 5%;
}

.formsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 12vh;
  width: 19vw;
}

.buttonDiv {
  height: 10vh;
  width: 10vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.updateinput{
  height: 20%;
  width: 90%;
}

.profileForm {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 10vh;
  width: 10vw;
  border: none;
  color: rgb(244, 244, 11);
  font-size: 20px;
}

.updatebutton {
  width: 25vw;
  box-shadow: 4px 6px black;
}

.deletebutton{
  height: 7vh;
}

.deletebutton:hover {
  background-color:rgb(189, 58, 58);
}


::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background: #a7a7a7;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #817400b7;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffe600;
    border-radius: 15px;
  }
