.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    width: 80vw;
    border: solid black 3px;
    background-color: rgba(78, 78, 78, 0.8);
    box-shadow: #08080b 0 20px 30px -10px;

    margin: 5vh 0 5vh 10vw;
}
.detailsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
    width: 95%;
    margin: 10px;
    /* border: solid 1px white; */
}
.imageContainer {
    display: flex;
    height: 35vh;
    width: 23vw;
    margin-right: 10px;
    /* border: solid 1px white; */
    /* box-shadow: #08080b 0 10px 20px -10px; */

}
.imageContainer img {
    height: 15vh;
    width: auto;
    box-shadow: #08080b 0 10px 20px -10px;
    /* border: 3px solid black; */
}
/* .infoContainer {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border: solid 1px white; */
    /* height: 70vh; */
    /* width: 60vw; */
    /* margin: 10px; */
/* } */
.test{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid 1px white; */
    height: 20vh;
    width: 25vw;
    /* margin-top: 15vh; */
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: #08080b 0 20px 30px -10px;

}
.orderContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 20vh;
    width: 25vw;
    /* margin-top: 15vh; */
    /* border: solid 1px white; */
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: #08080b 0 20px 30px -10px;
}
.formsOuter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 78vw;
    margin-bottom: 10px;
    background-color: rgba(58, 58, 58, 0.695);
    border-radius: 30px;
    box-shadow: #08080b 0 10px 30px -10px;
    /* border: solid 1px white; */

}
.formMiddle{
    display: flex;
}
.updateTitle{
    display: flex;
    /* border: solid 1px white; */
    height: 4vh;
    width: 25vw;
}
.formsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 18vh;
    width: 19vw;
    /* border: solid 1px white; */
}
.buttonDiv{
    width: 10vw;
}
form {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 60%;
    border: none;
    /* border: solid 1px black; */
    color: rgb(244, 244, 11);
    font-size: 20px;
    /* background-color: rgb(0, 0, 0, 0.6); */
    /* border: solid 1px white; */
}