.profileContainer {
    display: flex;
    justify-content: space-evenly;
    height: 80vh;
    width: 80vw;
    border: solid black 3px;
    margin: 5vh 0 5vh 10vw;
}

.imageContainer {
    height: 33.2vh;
    width: 40vw;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer img {
    height: 32vh;
    width: auto;
    border: 3px solid black;
}

.detailsContainer {
    height: 25vh;
    width: 20vw;
    display: flex;
    margin: 10px;
    flex-direction: column;
    border: solid 1px white;
}

.infoContainer p {
    padding-top: 2vh;
    margin-bottom: 5vh;
}

.orderContainer {
    height: 25vh;
    width: 20vw;
    display: flex;
    margin: 10px;
    flex-direction: column;
    border: solid 1px white;
}
.formsContainer{
    display: flex;
    height: 15vh;
    border: solid 1px white;
}
