.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
  padding: 6%;
}

input {
  background-color: transparent;
  padding: 5%;
  margin-top: 2%;
  background-color: aliceblue;
  border: solid 3px black;
}

.form1 {
  display: flex;
  z-index: 99999;
  justify-content: center;
  position: absolute;
  margin: auto;
  flex-direction: row;
  align-items: center;
  height: 60%;
  width: 30%;
  color: rgb(244, 244, 11);
  font-size: 20px;
}

.form2 {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  margin: auto;
  flex-direction: row;
  align-items: center;
  height: 60%;
  width: 40%;
  color: rgb(244, 244, 11);
  font-size: 20px;
}

.message-p {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: flex-end;
  height: 45vh;
  padding-left: 1.5vw;
}

#relative-button {
  position: relative; left: 1.9vw;
}

#login-message {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 800;
  font-size: 25px;
  color: rgb(244, 244, 11);
}